.modal {
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.548);
    .modal-box {
        width: 600px;
        height: 80%;
        background-color: white;
        border-radius: 32px;
    }
}

.close-button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 101;
}

.button-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 30px;

    .radious-icon {
        width: 17.33px;
        height: 19.5px;
        font-size: 24px;
        color: white;
    }
}
